{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body style="background-image:url({% static 'images/getty-facial-scan.jpg' %});background-size: cover; background-repeat: no-repeat; height: 100vh;">
    <div style="padding:10%; width:auto; height:100%; width: 450px; height: 350px;
    margin-top: 80px;
    margin-bottom: auto;
    margin-left: 500px;
    background: rgba(255, 255, 255, 0.5);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: relative;
    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;">
        <h1><font color ="00FF00">Welcome</font> to {{ user.name }}</h1>
    </div>
</body>
</html>